.flow {
    padding-top: 4em;
    padding-bottom: 3.5em;
    background-color: #000;
    background-image: url(/assets/img/gifs/flow-fly-away.webp);
    background-repeat: no-repeat;
    background-position: top right;

    p {
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 2em;
    }

    h2 {
        font-size: 1.6rem;
    }

    p.cite {
        font-size: 1.15rem;
    }
}